.Text {
  display: flex;
  overflow: hidden;
}
.Text span {
  padding: 10px;
  overflow: auto;
  flex: 1;
}
.fileContainer {
  overflow: hidden;
}

.video_container {
  flex: 1;
  overflow: hidden;
}
.video_container video {
  width: 100%;
  object-fit: contain;
}
.audio_container {
  margin-top: auto;
  margin-bottom: auto;
  min-width: var(--overlay-width);
}
