.header {
  /* display: flex; */
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.row > * {
  display: inline-block;
}
.row {
  display: block;
  width: 100%;
  line-height: 20px;
}

.row a {
  cursor: pointer;
}

.logo {
  height: 70px;
  margin-bottom: -29px;
  margin-top: -35px;
  margin-left: 5px;
  margin-right: 5px;
}

.topLayer {
  position: relative;
  z-index: 1;
  width: 100%;
}
