.Overlay.max {
  width: 100vw;
  height: 100vh;
  left: 50vw;
  top: 50vh;
}

.Overlay {
  position: fixed;
  z-index: 2;
  max-width: 75vw;
  max-height: 75vh;

  display: flex;
  flex-direction: column;
  user-select: none;
  top: 0px;
  left: 0px;
  background: white;
  box-shadow: 0px 0px 50px #00000036;
}
.Overlay header {
  font-size: 22pt;
  min-height: var(--panel-height);
  line-height: var(--panel-height);
  padding-left: calc(var(--panel-height) / 2);
  padding-right: calc(var(--panel-height) / 2);
  user-select: none;
}
.Overlay img,
.Overlay video {
  pointer-events: none;
  user-select: none;
}

.Overlay img,
.Overlay video,
.Overlay iframe {
  max-width: 100vw;
  width: 100%;
  height: 100%;
  flex: 1;
  object-fit: cover;
}
.Overlay iframe {
  flex: 0 75vh;
}
.Overlay footer {
  font-size: 22pt;
  min-height: var(--panel-height);
  line-height: var(--panel-height);
  padding-left: calc(var(--panel-height) / 2);
  padding-right: calc(var(--panel-height) / 2);
  user-select: none;
}
.Overlay iframe {
  border: none;
}
.Overlay footer {
  display: flex;
}
.Overlay footer div:first-child {
  flex: 1;
}
.Overlay footer div:last-child {
  flex: 0;
  font-size: 12pt;
}
.content_container {
  /* max-height: 75vh; */
  overflow: auto;
  background: #f9f9f9;
  font-size: 16pt;
  flex: 1;
}

.content_container span {
  height: 75vh;
  width: 35vw;
  padding: calc(var(--panel-height) / 2);
}
.max .content_container {
  max-height: auto;
}
.content_description {
  display: flex;
  flex: 1;
}
.title_description {
  flex: 0.5;
}
.description {
  padding: 5px;
}
